:root{

--primary:#004D40;
--secondary:#EADCA6;
--bg:#F7F8F5;
--border:#E7E7E7;
--text:#1E293B;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:var(--bg);
height:100vh;
overflow:hidden;
}

a{
text-decoration:none;
color:inherit;
}

button{
border:none;
cursor:pointer;
}